.Rhistory
.Rproj.user
*.Rproj

# downloaded data
data/raw/kfz-data/*
data/database/*
data/raw/bus/*
data/processed/bus*
data/processed/all_43901.csv
data/processed/all_43901_enhanced.csv
data/processed/all_41000.csv
data/processed/all_41000_enhanced.csv
data/processed/all_aggregated.csv
